<a href="https://colab.research.google.com/github/deepak-dewani/Python-for-everybody/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practice Session**

### **Chapter 01**
**Printing the Hello World**

In [ ]:
#Printing the Hello World

print("Hello World")


print("Welcome to Bootcamp")

Hello World
Welcome to Bootcamp

### **Chapter 02**
**Assignment and Addition**

In [ ]:
#Assignment and Addition 

x =2
x= x+2
print(x)

4

**User Input**

In [ ]:
a = input("Enter your Name: ")
print("Your name is", a)
b= input("Enter your age: ")
print("Your age is ",b)
c= input("Enter your Date of birth: ")
print("Your D.O.B is", c)

Enter your Name: Deepak
Your name is Deepak
Enter your age: 28
Your age is  28
Enter your Date of birth: 21.09.1994
Your D.O.B is 21.09.1994

# **Chapter 03**
**Variable, Statement and Expression**

In [13]:
a = 27
print(a)

27

In [ ]:
b = '123'
print(b)
type(b)

123

str

In [ ]:
x = '12345'
x = int(x)

y = x + 2
print(y)
type(y)

12347

int

**Conditional operator**

In [ ]:
# Conditional Operator
# Check the number is greater than 20 or not?

x = int(input("Enter the number: "))
if x < 20:
  print("Number is smaller than 20")
elif x ==20:
  print("Number is 20")
else:
  print("Number is larger than 20")

Enter the number: 5
Number is smaller than 20

**Repeated operator**

In [ ]:
x = int(input("Enter the number: "))
while x > 0:
  print(x)
  x = x - 1
print("Endpoint!!")

Enter the number: 6
6
5
4
3
2
1
Endpoint!!

# **Chapter 04**
**Function**

In [15]:
def funct():
  print("Welcome to bootcamp")
  print("Welcome to Konverge AI")

funct()

Welcome to bootcamp
Welcome to Konverge AI

In [12]:
def greet(Car):
  if Car == "Toyota":
    print("Japan")
  if Car == "Audi":
    print("Germany")
  if Car == "Ford":
    print("USA")


greet("Audi")

Germany

# **Chapter 05**
**Looping and iteration**

In [1]:
for i in (5,4,3,2,1):
  print(i)

5
4
3
2
1

In [2]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [4]:
x = input("Enter the text: ")

print(len(x))

Enter the text: Print
5

In [20]:
x = ["Deepak", "Sally", "Kunal"]


for i in x:
  print("Welcome to konverge Bootcamp: ", i)

Welcome to konverge Bootcamp:  Deepak
Welcome to konverge Bootcamp:  Sally
Welcome to konverge Bootcamp:  Kunal

In [23]:
# Counting

num = 0
print("Before: ", num)
for i in [1,5,6,8,9,15,45,50]:
  num = num + 1
print(num,"-->", i)

print("After: ", num)

Before:  0
8 --> 50
After:  8

In [27]:
# Average

x = 0
y = 0
print("Before :", x, y)
for z in [10,98,55,66,85,41,21,5]:
  x = x + 1
  y = y + z
  print(x,"-->",y,z)
print("after: ", x,y ,(y/x))

Before : 0 0
1 --> 10 10
2 --> 108 98
3 --> 163 55
4 --> 229 66
5 --> 314 85
6 --> 355 41
7 --> 376 21
8 --> 381 5
after:  8 381 47.625

In [28]:
# Filtering

for i in range(0,20):
  if i > 15:
    print(i)

16
17
18
19

In [29]:
for i in range(0,21):
  if i > 15:
    print(i)

16
17
18
19
20

In [32]:
# Comparing

for i in range(0,6):
  if i >= 3:
    print(i, "true")

3 true
4 true
5 true